<header class="flex items-center px-6 py-2 mb-6 max-w-md md:max-w-lg bg-gradient-to-r from-yellow-200 to-yellow-50">

  <a routerLink="/" class="flex items-center">
    <img src="../assets/svg/logo.svg" alt="notes logo" class="w-6 md:w-8">
    <h1 class="text-4xl select-none">Notes</h1>
  </a>

  <nav class="flex flex-grow justify-start ml-8 text-lg md:text-xl">
    <a href="#" class="hover:underline whitespace-nowrap">New note</a>
    <a routerLink="/notes" class="ml-3 hover:underline whitespace-nowrap">My notes</a>
    <a href="#" class="ml-3 hover:underline whitespace-nowrap">About</a>
  </nav>

</header>

<router-outlet></router-outlet>

<footer class="footer mt-4 p-3 bg-blue-900">

  <p class="text-right mx-auto max-w-screen-lg text-gray-100">
    Made by
    <a href="https://github.com/Shadou1" class="text-white underline">Shadou</a>
  </p>

</footer>
